################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Reflector/v16/Server/sqlite3
/.vs/Reflector/v16
